{% AddPageClassNames, "single" %}
<div class="row">
    <div class="col-md-9">
        <article class="entry">
            <div class="entry-media">
                <figure>
                    <img src="{{ Model.ContentItem.BlogPost.Cover.FirstMediaUrl }}" />
                </figure>
            </div>
            <h2 class="entry-title">{{ Model.ContentItem.TitlePart.Title }}</h2>
            <div class="entry-meta">
                <span>
                    <i class="fa fa-calendar"></i>
                    {{ Model.ContentItem.CommonPart.PublishedUtc }}
                </span>
                <span>
                    <i class="fa fa-user"></i>
                    {{ Model.ContentItem.CommonPart.Owner.UserName }}
                </span>
            </div>
            <div class="entry-content">
                {{ Model.ContentItem.BlogPostPart.Text }}
            </div>
            <div class="entry-author">
                <figure>
                    <img src="https://dotneststatic.com/media/philiphunter/Avatar/Avatar90x90.png" alt="Szerző" class="img-responsive" />
                </figure>
                <div class="author-content">
                    <h4>Philip Hunter</h4>
                    <p>A kis Philipet az általános iskolában egy pedofil, fallosszal nem rendelkező személy megerőszakolta, akinek a társadalmi kora 14 év volt, így a bíróság felmentette őt. Philben ekkor tudatosult, hogy a #metoo-tól igenis erősebb az ageizmus.</p>
<p>Phil társadalmi nemét nőnek mondva a kapott plusz pontokkal bekerült az egyetemre, ahol megtanulta a televízió képernyőjén keresztül történő gerincműtétek végrehajtását. Csak sajnos már nincsenek páciensek.</p>
<p>Így Philip Hunter új szándéka a társadalomra, aktualitásokra való szatirikus reflektálás blogposztok formájában (egyelőre).</p>
                    <div class="social-icons">
                        <label>Szósöl:</label>
                        <a href="https://www.facebook.com/Philip-Hunter-154982041887121/" target="_blank" class="social-icon" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/PhilipH24297712" target="_blank" class="social-icon" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/philwillhunt/" target="_blank" class="social-icon" title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <div class="comments">
            <h3 class="title mb25">
                <span>Kommentek</span>
            </h3>
            <div class="fb-comments" data-href="{{ Model.WorkContext.HttpContext.Request.Url.AbsoluteUri }}/{{ Model.ContentItem.AutoroutePart.DisplayAlias }}" data-numposts="5"></div>
        </div>
    </div>
</div>